body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.main-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}

 .form{
    background-color: rgb(17, 0, 255);
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px ;
    border-radius: 10px;
    color: white;
   font-family:Arial, Helvetica, sans-serif ;
 }
 h1{
    text-align: center;
   margin-top: 5px;
 }

 .form input{
    height: 25px;
    border-radius: 5px;
    border: none;

 }
 .btn {
   width: 150px;
   height: 30px;
   margin-left: 125px;
   border-radius: 5px;
   background-color: green;
   color: white;
   border: none;
   font-size: medium;
}
.btn:hover{
   background-color: blue;
}

@media (max-width: 768px) {
   .main-form{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;

   }
}


 